* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#navigation_body {
    width: 100%;
    /* border: 1px solid black; */
    height: 320px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
#previous_arrow {
    position: absolute;
    z-index: 11;
    height: 110px;
    width: 70px;
    left: 0px;
    top: 100px;
    background-color: rgb(191, 191, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    opacity: 0.3;
    border-radius: 0px 10px 10px 0px;
}
#previous_arrow img {
    width: 100%;
    transform: rotate(180deg);
}
#previous_arrow:hover {
    opacity: 0.9;
    cursor: pointer;
}
#next_arrow {
    position: absolute;
    z-index: 11;
    height: 110px;
    width: 70px;
    right: 0px;
    top: 100px;
    background-color: rgb(191, 191, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    opacity: 0.3;
    border-radius: 10px 0px 0px 10px;
}
#next_arrow img {
    width: 100%;
}
#next_arrow:hover {
    opacity: 0.9;
    cursor: pointer;
}
#slider {
    width: 2200px;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s;
}
.slider_element {
    width: 240px;
    height: 310px;
    /* border: 1px solid red; */
    display: inline-block;
    /* margin: 0px 20px; */
    box-shadow: 2px 3px 5px grey;
}

.slider_element img {
    width: 100%;
}

h3 {
    font-weight: 100;
    font-size: 16px;
    color: rgb(91, 168, 255);
    margin-left: 10px;
    margin-top: 10px;
}

h2 {
    /* font-weight: 100; */
    margin-left: 10px;
    margin-top: 15px;
    font-size: 16px;
}
hr {
    border-color:rgba(180, 180, 180, 0.323);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    width:210px;
    margin: 15px auto;
}
.prices {
    margin: 20px 10px;
    text-align: right;
}

@media screen and (min-width: 360px) and (max-width:419px){

    #navigation_body {
        width: 100%;
        /* border: 1px solid black; */
        height: 215px;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
    }
    #previous_arrow {
        position: absolute;
        z-index: 11;
        height: 50px;
        width: 30px;
        left: 0px;
        top: 35%;
        background-color: rgb(191, 191, 191);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        opacity: 0.3;
        border-radius: 0px 10px 10px 0px;
    }
    #next_arrow {
        position: absolute;
        z-index: 11;
        height: 50px;
        width: 30px;
        right: 0px;
        top: 35%;
        background-color: rgb(191, 191, 191);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        opacity: 0.3;
        border-radius: 10px 0px 0px 10px;
    }
    #slider {
        width: 1500px;
        display: flex;
        justify-content: space-around;
    }
    .slider_element {
        width: 160px;
        height: 210px;
        display: inline-block;
        box-shadow: 2px 3px 5px grey;
    }
    h3 {
        font-weight: 100;
        font-size: 13px;
        color: rgb(91, 168, 255);
        margin-left: 5px;
        margin-top: 5px;
    }
    
    h2 {
        margin-left: 5px;
        margin-top: 8px;
        font-size: 13px;
    }
    hr {
        border-color:rgba(180, 180, 180, 0.323);
        border-bottom: 0px;
        border-right: 0px;
        border-left: 0px;
        width:140px;
        margin: 15px auto 0px auto;
    }
    .prices {
        margin: 8px 5px;
        text-align: right;
    }
} 